!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    - if @item[:title]
      %title= "#{@item[:title]} - Zameer Manji"
    - else
      %title= "Zameer Manji"
    %link{:href => "/assets/stylesheets/reset.css", :rel => "stylesheet"}
    %link{:href => "/assets/stylesheets/base.css", :rel => "stylesheet"}

    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif", :rel => 'stylesheet'}

    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"}
    %script{:src => "/assets/javascripts/vendor/jquery.timeago.js"}
    %script{:src => "https://raw.github.com/twitter/twitter-text-js/master/pkg/twitter-text-1.4.9.js"}
    %script{:src => "/assets/javascripts/last_tweet.js"}



  %body
    .wrap
      #top
        %header
          = link_to 'Zameer Manji', '/'
        %nav
          %ul
            %li
              = link_to('Blog', '/blog/')
            %li
              = link_to('About', '/about/')
            %li
              = link_to('Résumé', '/resume/')
            -# %li
            -#   = link_to('Projects', '/projects/')

      #content
        %article{:id => @item[:wrapper_id]}
          = yield


      %footer
        = content_for(@item, :footer)
        %p.small
          © 2011 Zameer Manji
