!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    - if @item[:title]
      %title= "#{@item[:title]} - Zameer Manji"
    - else
      %title= "Zameer Manji"

    %link{:href => "/assets/stylesheets/normalize.css", :rel => "stylesheet"}
    %link{:href => "/assets/stylesheets/base.css", :rel => "stylesheet"}
    %link{:href => '/assets/stylesheets/pygments.css', :rel => 'stylesheet'}

    %link{:href => "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Inconsolata", :rel => 'stylesheet'}

    %link{:rel => 'icon', :href => '/favicon.ico', :sizes => "16x16", :type => "image/vnd.microsoft.icon"}

    -# Google Analytics Code
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20388638-1']);
      _gaq.push(['_setDomainName', '.zameermanji.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %header
      = link_to 'Zameer Manji', '/'

      %nav
        %ul
          %li
            = link_to('Blog', '/blog/')
          %li
            = link_to('About', '/about/')
          %li
            = link_to('Résumé', '/resume.pdf')

    -# 'id' allows for page specific css targeting if needed
    #content{:id => @item[:id]}
      %article
        - if @item[:kind] == 'article'
          - if @item[:title]
            %h1= @item[:title]
          - if @item[:created_at]
            .posted= "Created On: #{@item[:created_at].strftime("%B %d %Y")}"
        = yield

    %footer
      = content_for(@item, :footer)
      :markdown
        I use [Twitter](https://www.twitter.com/zmanji) and [GitHub](https://www.github.com/zmanji).
        I answer and ask questions on the [StackExchange](https://stackexchange.com/users/2083/zameer-manji) network.
